body{
    /* background-color: black; */
    background-image: url("images/IMG_1096.jpeg");
    background-size: cover;
    background-position: center;
    margin: 0;
}

/* This allows you to be able to position html elements starting from the top left instead of displaying as block under p5.js canvas */
#html-body{
    position: absolute;
    top: 0;
    left: 0;
}

.offer{
    text-align: center;
    padding: 800 0 0 900;
    
    font-weight: bold;
}

#bear{
    display: none;
    z-index: 2;
}